<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>查看通知</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label">通知标题</label>
        <div class="layui-input-block">
            <input readonly="readonly" type="text" id="notice_title" name="notice_title"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">通知类型</label>
        <div class="layui-input-block">
            <input  readonly="readonly" type="text" id="type" name="type"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">通知时间</label>
        <div class="layui-input-block">
            <input  readonly="readonly" type="text" id="date" name="date"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">通知内容</label>
        <div class="layui-input-block">
            <!--                <input type="text" name="notice_content" lay-verify="required" lay-reqtext="通知内容不能为空"  value="" class="layui-input">-->
            <div style="margin-bottom: 20px; width: 680px;">
                <textarea   id="LAY_demo1" style="display: block" readonly="readonly" contenteditable="false"></textarea>
            </div>
        </div>
    </div>

<!--    <div class="layui-form-item">-->
<!--        <div class="layui-input-block">-->
<!--            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">保 存</button>-->
<!--        </div>-->
<!--    </div>-->
</div>

<script src="/static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['layedit','form'], function(){
        var layedit = layui.layedit,
            form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //构建一个默认的编辑器
        var index = layedit.build('LAY_demo1', {tool:""});
        $("#LAY_demo1").attr("readonly","readonly")
        //编辑器外部操作
        // var active = {
        //     content: function(){
        //         alert(layedit.getContent(index)); //获取编辑器内容
        //     }
        // };

        // $('.site-demo-layedit').on('click', function(){
        //     var type = $(this).data('type');
        //     active[type] ? active[type].call(this) : '';
        // });

        var editInfo = JSON.parse(localStorage.getItem("notification_detail_info"));
        // alert(JSON.stringify(editInfo))
        $("#notice_title").val(editInfo.notice_title)
        $("#type").val(editInfo.type)
        $("#LAY_demo1").val(editInfo.notice_content)
        $("#date").val(editInfo.date.slice(0, 10))
        //监听提交
        form.on('submit(saveBtn)', function (req) {
            // alert(localStorage.getItem("dep_edit_info"))
            // alert(JSON.stringify(req.field))
            req.field.notice_content = layedit.getContent(index)
            req.field.ID = editInfo.ID
            alert(JSON.stringify(req.field))
            $.ajax({
                type: "POST",
                url: "/notification/edit",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(req.field),
                dataType: "json",
                async: false,
                success:function (data) {
                    var resp = JSON.parse(JSON.stringify(data));
                    if (resp.status == 2000) {
                        layer.alert("编辑通知成功", function (){
                            // 关闭
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        })
                    }
                },
                error:function (data) {
                    console.log("error resp:" + JSON.stringify(data))
                    layer.msg("系统异常,添加失败");
                }
            });

            return false;
        });

    });
</script>
</body>
</html>