<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>职级管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
<!--                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>-->
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script src="/static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/rank/query/all',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                // {type: "checkbox", width: 50},
                {field: 'ID', width: 60, title: 'ID', sort: true},
                {field: 'rank_id', width: 150, title: '职级ID'},
                {field: 'rank_name', width: 150, title: '职级名称'},
                {field: 'CreatedAt', title: '创建时间', minWidth: 150, sort: true},
                {field: 'UpdatedAt', width: 150, title: '更新时间', sort: true},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true,
            skin: 'line',
            parseData: function(res){ //res 即为原始返回的数据
                var code = 0, msg = "获取数据成功"
                if (res.status != 2000) {
                    code = -1
                    msg = "数据不存在"
                }
                return {
                    "code": code, //解析接口状态
                    "msg": msg, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.msg //解析数据列表
                };
        }
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加职级',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['80%', '80%'],
                    content: '/views/rank_add.html',
                    end: function(){
                        //执行搜索重载
                        table.reload('currentTableId', {
                            page: {
                                curr: 1
                            }
                        }, 'data');
                    }
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
        });

        //监听表格复选框选择
        // table.on('checkbox(currentTableFilter)', function (obj) {
        //     console.log(obj)
        // });

        table.on('tool(currentTableFilter)', function (obj) {
            var rankId = obj.data.rank_id;
            var rankName = obj.data.rank_name;
            var needEditRankInfo = {"rank_id":rankId, "rank_name": rankName}
            if (obj.event === 'edit') {
                // 本地缓存需要编辑的职位信息
                localStorage.setItem("rank_edit_info", JSON.stringify(needEditRankInfo))
                var index = layer.open({
                    title: '编辑职级',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['80%', '80%'],
                    content: '/views/rank_edit.html',
                    end: function(){
                        //执行搜索重载
                        table.reload('currentTableId', {
                            page: {
                                curr: 1
                            }
                        }, 'data');
                    }
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('确认删除吗？', function () {
                    // alert(JSON.stringify(obj.data))
                    // alert(depId)
                    $.ajax({
                        type: "DELETE",
                        url: "/rank/del/" + rankId,
                        async: false,
                        success:function (data) {
                            var resp = JSON.parse(JSON.stringify(data));
                            if (resp.status == 2000) {
                                layer.alert("删除职级成功",function(index) {
                                    // 重新渲染
                                    table.reload('currentTableId', {
                                        page: {
                                            curr: 1
                                        }
                                    }, 'data');
                                    layer.close(index)
                                    // alert("layer.close")
                                });
                            }
                        },
                        error:function (data) {
                            console.log("login error resp:" + JSON.stringify(data))
                            layer.msg("系统异常");
                        }
                    });
                });
            }
        });

    });
</script>

</body>
</html>