<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">岗位名称</label>
        <div class="layui-input-block">
            <input type="text" name="job_name" id="job_name" lay-verify="required" lay-reqtext="岗位名称不能为空" placeholder="请输入岗位名称" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">岗位类别</label>
        <div class="layui-input-block">
            <input type="text" name="job_type" id="job_type" lay-verify="required" lay-reqtext="岗位类别不能为空" placeholder="请输入岗位类别" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">工作地点</label>
        <div class="layui-input-block">
            <input type="text" name="base_location" id="base_location" lay-verify="required" lay-reqtext="工作地点不能为空" placeholder="请输入工作地点" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">薪资范围</label>
        <div class="layui-input-block">
            <input type="text" name="base_salary"  id="base_salary"   placeholder="请输入薪资范围" lay-reqtext="薪资范围不能为空" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">学历要求</label>
        <div class="layui-input-block">
            <input type="text" name="edu_level"  id="edu_level" placeholder="请输入学历要求" lay-reqtext="学历要求不能为空" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">工作经验</label>
        <div class="layui-input-block">
            <input type="text" name="experience" id="experience"  placeholder="请输入工作经验" lay-reqtext="工作经验不能为空" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">岗位要求</label>
        <div class="layui-input-block">
            <textarea style="height: 200px" type="text" name="describe"  id="describe" placeholder="请输入岗位要求" lay-reqtext="岗位要求不能为空" value="" class="layui-input"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">投递邮箱</label>
        <div class="layui-input-block">
            <input type="text" name="email" id="email"   placeholder="请输入投递邮箱" lay-reqtext="投递邮箱不能为空" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">保 存</button>
        </div>
    </div>
</div>

<script src="/static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;
        var editInfo = JSON.parse(localStorage.getItem("recruitment_edit_info"));
        // alert(editInfo)
        $("#job_name").val(editInfo.job_name)
        $("#job_type").val(editInfo.job_type)
        $("#base_location").val(editInfo.base_location)
        $("#base_salary").val(editInfo.base_salary)
        $("#edu_level").val(editInfo.edu_level)
        $("#experience").val(editInfo.experience)
        $("#describe").val(editInfo.describe)
        $("#email").val(editInfo.email)
        //监听提交
        form.on('submit(saveBtn)', function (req) {
            // alert(localStorage.getItem("dep_edit_info"))
            var id = editInfo.ID
            // alert(JSON.stringify(req.field))
            req.field.id = id
            // alert(JSON.stringify(req.field))
            $.ajax({
                type: "POST",
                url: "/recruitment/edit",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(req.field),
                dataType: "json",
                async: false,
                success:function (data) {
                    var resp = JSON.parse(JSON.stringify(data));
                    if (resp.status == 2000) {
                        layer.alert("编辑成功", function (){
                            // 关闭
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        })
                    }
                },
                error:function (data) {
                    console.log("error resp:" + JSON.stringify(data))
                    layer.msg("系统异常");
                }
            });
            return false;
        });

    });
</script>
</body>
</html>