<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>查看</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label">员工姓名</label>
        <div class="layui-input-block">
            <input type="text" name="staff_name" readonly="readonly" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">员工上级</label>
        <div class="layui-input-block">
            <select disabled="disabled" name="leader_staff_id" id="staff_select" lay-verify="required" lay-search>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">员工性别</label>
        <div class="layui-input-block">
            <select  disabled="disabled" id="sex_str" name="sex_str" lay-verify="required">
                <option value="1">男</option>
                <option value="2">女</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">身份证号</label>
        <div class="layui-input-block">
            <input type="text" name="identity_num" readonly="readonly" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">出生日期</label>
        <div class="layui-input-block">
            <input type="text" name="birthday_str" readonly="readonly" placeholder="1999-05-21" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">民族</label>
        <div class="layui-input-block">
            <input type="text" name="nation" readonly="readonly" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">毕业院校</label>
        <div class="layui-input-block">
            <input type="text" name="school" readonly="readonly" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">毕业专业</label>
        <div class="layui-input-block">
            <input type="text" name="major" readonly="readonly" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">最高学历</label>
        <div class="layui-input-block">
            <input type="text" name="edu_level" readonly="readonly" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">基本薪资</label>
        <div class="layui-input-block">
            <input type="number" name="base_salary" readonly="readonly" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">银行卡号</label>
        <div class="layui-input-block">
            <input type="text" name="card_num" readonly="readonly" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">职位</label>
        <div class="layui-input-block">
            <select disabled="disabled" name="rank_id" id="rank_select" lay-verify="required" lay-search>

            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">部门</label>
        <div class="layui-input-block">
            <select  disabled="disabled"  name="dep_id" id="dep_select" lay-verify="required" lay-search>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">电子邮箱</label>
        <div class="layui-input-block">
            <input type="text" name="email" readonly="readonly" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-block">
            <input readonly="readonly" type="text" name="phone" lay-verify="required"  value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">入职日期</label>
        <div class="layui-input-block">
            <input type="text" name="entry_date_str" readonly="readonly" class="layui-input">
        </div>
    </div>

</div>

<script src="/static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    function loadStaffSelect(staffId) {
        $ = layui.$
        $.ajax({
            type: "GET",
            url: "/staff/query/all",
            success:function (data) {
                var resp = JSON.parse(JSON.stringify(data));
                $.each(resp.msg, function (index, item) {
                    $('#staff_select').append(new Option(item.staff_name+"-"+item.dep_name+"-"+item.rank_name, item.staff_id));// 下拉菜单里添加元素
                });
                $('#staff_select').val(staffId)
                layui.form.render("select");
            }});
    }


    function loadRankSelect(rankId) {
        $ = layui.$
        $.ajax({
            type: "GET",
            url: "/rank/query/all",
            success:function (data) {
                var resp = JSON.parse(JSON.stringify(data));
                $.each(resp.msg, function (index, item) {
                    $('#rank_select').append(new Option(item.rank_name, item.rank_id));// 下拉菜单里添加元素
                });
                // 选中所属职位
                $('#rank_select').val(rankId)
                layui.form.render("select");
            }});
    }

    function loadDepSelect(depId) {
        $ = layui.$
        $.ajax({
            type: "GET",
            url: "/depart/query/all",
            success:function (data) {
                var resp = JSON.parse(JSON.stringify(data));
                $.each(resp.msg, function (index, item) {
                    $('#dep_select').append(new Option(item.dep_name, item.dep_id));// 下拉菜单里添加元素
                });
                $('#dep_select').val(depId)
                layui.form.render("select");
            }});
    }


    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;
        var editInfo = localStorage.getItem("staff_query_info");
        // 数据回显
        recallData(editInfo)
        //监听提交
        form.on('submit(saveBtn)', function (req) {
            req = req.field
            // alert(JSON.stringify(req))
            // alert(localStorage.getItem("dep_edit_info"))
            var staffId = JSON.parse(editInfo).staff_id
            req.staff_id = staffId
            req.base_salary = parseInt(req.base_salary)
            // alert(JSON.stringify(req))
            $.ajax({
                type: "POST",
                url: "/staff/edit",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(req),
                dataType: "json",
                async: false,
                success:function (data) {
                    var resp = JSON.parse(JSON.stringify(data));
                    if (resp.status == 2000) {
                        layer.alert("编辑员工信息成功", function (){
                            // 关闭
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        })
                    }
                },
                error:function (data) {
                    console.log("error resp:" + JSON.stringify(data))
                    layer.msg("系统异常");
                }
            });
            return false;
        });
    });

    function recallData(editInfo) {
        // alert(editInfo)
        var $ = layui.$
        editInfo = JSON.parse(editInfo)
        $("input[name=staff_name]").val(editInfo.staff_name)
        $("#sex_str").val(editInfo.sex)
        layui.form.render("select")
        $("input[name=identity_num]").val(editInfo.identity_num)
        $("input[name=birthday_str]").val(editInfo.birthday.slice(0, 10))
        $("input[name=nation]").val(editInfo.nation)
        $("input[name=school]").val(editInfo.school)
        $("input[name=major]").val(editInfo.major)
        $("input[name=edu_level]").val(editInfo.edu_level)
        $("input[name=base_salary]").val(editInfo.base_salary)
        $("input[name=card_num]").val(editInfo.card_num)
        $("input[name=phone]").val(editInfo.phone)
        // $("input[name=rank_id]").val(editInfo.rank_id)
        loadRankSelect(editInfo.rank_id)
        loadDepSelect(editInfo.dep_id)
        loadStaffSelect(editInfo.leader_staff_id)
        // $("input[name=dep_id]").val(editInfo.dep_id)
        $("input[name=email]").val(editInfo.email)
        $("input[name=entry_date_str]").val(editInfo.entry_date.slice(0, 10))
    }
</script>
</body>
</html>