<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>新增</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
<!--    type StaffCreateDTO struct {-->
<!--    StaffName    string `json:"staff_name" binding:"required"`-->
<!--    BirthdayStr  string `json:"birthday_str" binding:"required"`-->
<!--    IdentityNum  string `json:"identity_num" binding:"required"`-->
<!--    SexStr       string `json:"sex_str" binding:"required""`-->
<!--    Nation       string `json:"nation" binding:"required"`-->
<!--    School       string `json:"school" binding:"required"`-->
<!--    Major        string `json:"major" binding:"required"`-->
<!--    EduLevel     string `json:"edu_level" binding:"required"`-->
<!--    BaseSalary   int64  `json:"base_salary" binding:"required"`-->
<!--    CardNum      string `json:"card_num" binding:"required"`-->
<!--    RankId       string `json:"rank_id" binding:"required"`-->
<!--    DepId        string `json:"dep_id" binding:"required"`-->
<!--    Email        string `json:"email" binding:"required"`-->
<!--    EntryDateStr string `json:"entry_date_str" binding:"required"`-->
<!--    }-->
    <div class="layui-form-item">
        <label class="layui-form-label required">员工姓名</label>
        <div class="layui-input-block">
            <input type="text" name="staff_name" lay-verify="required"  value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">指定上级</label>
        <div class="layui-input-block">
            <select name="leader_staff_id" id="staff_select" lay-verify="required" lay-search>
            </select>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label required">员工性别</label>
        <div class="layui-input-block">
            <select name="sex_str" id="sex_str" lay-verify="required" lay-search>
                <option value="-1">请选择</option>
                <option value="1">男</option>
                <option value="2">女</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">身份证号</label>
        <div class="layui-input-block">
            <input type="text" name="identity_num" lay-verify="required"  value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">出生日期</label>
        <div class="layui-input-block">
            <input type="date" name="birthday_str" lay-verify="required"  value="" placeholder="1999-05-21" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">民族</label>
        <div class="layui-input-block">
            <input type="text" name="nation" lay-verify="required"  value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">毕业院校</label>
        <div class="layui-input-block">
            <input type="text" name="school" lay-verify="required"  value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">毕业专业</label>
        <div class="layui-input-block">
            <input type="text" name="major" lay-verify="required"  value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">最高学历</label>
        <div class="layui-input-block">
            <input type="text" name="edu_level" lay-verify="required"  value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">基本薪资</label>
        <div class="layui-input-block">
            <input type="number" name="base_salary" lay-verify="required"  value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">银行卡号</label>
        <div class="layui-input-block">
            <input type="text" name="card_num" lay-verify="required"  value="" class="layui-input">
        </div>
    </div>

<!--    <div class="layui-form-item">-->
<!--        <label class="layui-form-label required">职位</label>-->
<!--        <div class="layui-input-block">-->
<!--            <input type="text" name="rank_id" lay-verify="required"  value="" class="layui-input">-->
<!--        </div>-->
<!--    </div>-->

    <div class="layui-form-item">
        <label class="layui-form-label required">职位</label>
        <div class="layui-input-block">
            <select name="rank_id" id="rank_select" lay-verify="required" lay-search>
                <option value="-1">请选择</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">部门</label>
        <div class="layui-input-block">
            <select name="dep_id" id="dep_select" lay-verify="required" lay-search>
                <option value="-1">请选择</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">电子邮箱</label>
        <div class="layui-input-block">
            <input type="text" name="email" lay-verify="required"  value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">手机号</label>
        <div class="layui-input-block">
            <input type="text" name="phone" lay-verify="required"  value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">入职日期</label>
        <div class="layui-input-block">
            <input type="date" name="entry_date_str" lay-verify="required"  value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">添 加</button>
        </div>
    </div>

</div>
<script src="/static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>

    function loadStaffSelect(staffId) {
        $ = layui.$
        $.ajax({
            type: "GET",
            url: "/staff/query/all",
            success:function (data) {
                var resp = JSON.parse(JSON.stringify(data));
                $.each(resp.msg, function (index, item) {
                    $('#staff_select').append(new Option(item.staff_name+"-"+item.dep_name+"-"+item.rank_name, item.staff_id));// 下拉菜单里添加元素
                });
                $('#staff_select').val(staffId)
                layui.form.render("select");
            }});
    }

    function loadRankSelect() {
        $ = layui.$
        $.ajax({
            type: "GET",
            url: "/rank/query/all",
            success:function (data) {
                var resp = JSON.parse(JSON.stringify(data));
                $.each(resp.msg, function (index, item) {
                    $('#rank_select').append(new Option(item.rank_name, item.rank_id));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }});
    }


    function loadDepSelect() {
        $ = layui.$
        $.ajax({
            type: "GET",
            url: "/depart/query/all",
            success:function (data) {
                var resp = JSON.parse(JSON.stringify(data));
                $.each(resp.msg, function (index, item) {
                    $('#dep_select').append(new Option(item.dep_name, item.dep_id));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }});
    }

    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        // 职位select下拉框
        loadRankSelect()
        // 部门select下拉框
        loadDepSelect()
        // 上级
        loadStaffSelect()

        //监听提交
        form.on('submit(saveBtn)', function (req) {
            req.field.base_salary = parseInt(req.field.base_salary)
            req.field.phone = parseInt(req.field.phone)
            // alert(JSON.stringify(req.field))
            $.ajax({
                type: "POST",
                url: "/staff/create",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(req.field),
                dataType: "json",
                async: false,
                success:function (data) {
                    var resp = JSON.parse(JSON.stringify(data));
                    if (resp.status == 2000) {
                        layer.alert("添加员工信息成功", function (){
                            // 关闭
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        })
                    } else if (resp.status == 2001) {
                        layer.alert("员工已存在")
                    }
                },
                error:function (data) {
                    console.log("error resp:" + JSON.stringify(data))
                    layer.msg("系统异常,添加失败");
                }
            });

            return false;
        });

    });
</script>
</body>
</html>